In [120]:
# !apt-get update
# !apt-get install -y libpq-dev
# !pip install sqlalchemy psycopg2

# !apt-get update  -y
# !apt-get install postgresql-client  -y
# !apt-get install libpq-dev -y
# !pip install django psycopg2
# !pip install PyMySQL
# !pip install cryptography

# Architecture guide
This notebook is meant for debugging the REST API behaviour.

### To turn on the API
Verify that the docker is mapping port 8000 (the internal port where the Flask will be exposed by **main.py**) to some external port (in case of the docker running at the address http://10.79.85.55:9990/, the port is 9992).

Set the following values in **env_variables.yaml**:
- `ENVIRONMENT: DEV`
- `MODEL_LOCAL_PATH:` /workspace/??/path/where/the/latest/model/is/stored
- `AK_API_ENDPOINT:` http://10.79.85.55:9992 (or other address where you want the API answers to be sent)

Then open a terminal and run `python main.py` from `/workspace/chiara/2012_AK_SR_prod/2012_AK_SR_repository` or anywhere you have saved a copy of [servicerequests_ak repository](https://github.com/AILAB-bh/servicerequests_ak).

The API saves a log called **bhsle_YYYY_MM_DD_HH-mm-ss.xxxxxx.log** in the same folder where **main.py** is present.

To test that the API is running, you can go to the endpoint `/health/` from the browser.

### To test API similarity and clustering endpoints
Open Postman and post some JSONs to the endpoint (of course you can do it with code if you don't want to use Postman), following the format specified in the file **bhsle_apis_v_3_0_0.yaml** (the file is attached to the Confluence page).

In [ ]:
example_json_for_similarity_service_request = {
    "searchID": "20220131_001",
    "searchDocuments": [
        {
            "caseNumber": "13122107",
            "problemDescription": "write about broken machines number 7",
            "solutionDescription": "old valves should be replaced",
            "firstReplySolution": "maybe the lube oil or the controller",
            "expertAssesmentDescription": "",
            "defectiveSystem": "",
            "defectiveGroup": "",
            "defectiveComponent": "",
            "additionalInformation": "",
            "subcasesReport": "",
            "freeTextQuery": ""
        }
    ],
    "filterDocument": [
        {
            "caseNumber": ""
        }
    ]
}

In [ ]:
example_json_for_similarity_free_text ={
    "searchID": "20220201_001",
    "searchDocuments": [
        {
            "caseNumber": "",
            "problemDescription": "",
            "solutionDescription": "",
            "firstReplySolution": "",
            "expertAssesmentDescription": "",
            "defectiveSystem": "",
            "defectiveGroup": "",
            "defectiveComponent": "",
            "additionalInformation": "",
            "subcasesReport": "",
            "freeTextQuery": "when you send free text to the company the valves start rotating"
        }],
    "filterDocument": [
        {
            "caseNumber": ""
        }
    ]
}

In [ ]:
example_json_for_clustering = {
  "searchID": "test_clustering",
  "searchDocuments": [
    {"caseNumber": "90376982"},
    {"caseNumber": "90337622"},
    {"caseNumber": "90352313"},
    {"caseNumber": "90205676"},
    {"caseNumber": "90322012"},
    {"caseNumber": "90206048"},
    {"caseNumber": "90321503"},      
  ],
  "filterDocument": [
    {
      "caseNumber": "string"
    }
  ]
}

## What happens next...
The functions inside **main.py** will try to compute the similarity (using the code inside **poller.py**) or the clustering output (using the code inside **clustering_poller.py**) and send it back to the `AK_API_ENDPOINT` (the address written inside **env_variables.yaml**). If this address is not set up to return 200 when our API sends something, the dispatch of the response will fail and the query will not be closed.

This means that you will find:
- some new rows in `AK_BHSLE_MESSAGE_HEADER`, `AK_BHSLE_SIMILARITY_QUERY_REQUEST` and `AK_SIMILARITY_QUERY_REQUEST_DOCUMENT` tables which are in the [local postgres](http://10.79.85.55:5050/browser/) under Server > postgres > Databases > ak-dev > Schemas > public > Tables
- the new rows in `AK_BHSLE_MESSAGE_HEADER` will have values in column `PROCESSED` = 0.

In case `AK_API_ENDPOINT` is able to return 200, the query will not fail and the rows in `AK_BHSLE_MESSAGE_HEADER` will have column `PROCESSED` = 1.


### Debugging from the notebook
When we have at least some rows in `AK_BHSLE_MESSAGE_HEADER` where `PROCESSED` = 0, we can call the functions of **poller.py** to play around with the queries. See code below:

In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
from servicerequestslib import *
from servicerequestslib.poller import *

In [5]:
query, joined_tables = read_query_from_queue()

In [25]:
for a in joined_tables['SEARCH_ID'].unique():
    print(a)

20211029_001
20211029_002
20211130_001
20211213_001
20211213_002
20211213_003
20211213_004
20211213_005
20211213_006
20211213_007

In [7]:
query.head()

,ID,SEARCH_ID,REQUEST_ID,CASE_NUMBER,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT_DESCRIPTION,DEFECTIVE_SYSTEM,DEFECTIVE_GROUP,DEFECTIVE_COMPONENT,ADDITIONAL_INFORMATION,SUBCASES_REPORT,FREE_TEXT_FIELD,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
0,b88109f8-a3a2-4a65-9868-1a90d07bd70f,20211029_001,71c2beee-4d83-4587-a4f3-c72751089ac1,12345,this is a test description,you wish,maybe,,,,,,,,2021-10-29 09:55:23.686979,2021-10-29 09:55:23.686979,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
1,ee429daf-097e-45c1-a443-f5106d342241,20211029_001,71c2beee-4d83-4587-a4f3-c72751089ac1,6789,this is another test description,ahaha,ihihi,,,,,,,,2021-10-29 09:55:23.686979,2021-10-29 09:55:23.686979,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
2,7edc1c81-0a5d-4717-98bd-7baed7775a9d,20211029_002,26da2208-b0fc-4bbc-9f17-3dd5fd5cefef,12348,this is a dev environment,you wish,maybe,,,,,,,,2021-10-29 09:56:08.897355,2021-10-29 09:56:08.897355,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
3,a717b39e-887d-4ccd-9be5-bc64cc79c7af,20211029_002,26da2208-b0fc-4bbc-9f17-3dd5fd5cefef,6788,this is another test from postman,ahaha,ihihi,,,,,,,,2021-10-29 09:56:08.897355,2021-10-29 09:56:08.897355,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
4,1ed57084-3080-4f32-8a3c-a1baf2ea1767,20211130_001,2671393b-3d7d-4f4d-922e-5be70f1249d3,301121,end of november test,you wish,maybe,,,,,,,,2021-11-30 10:52:11.222062,2021-11-30 10:52:11.222062,bhsle,bhsle

In [8]:
joined_tables

,ID,PROCESSED,MESSAGE_TYPE,PROCESSING_START,PROCESSING_END,INITIAL_LOAD_FLAG,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER,ID,SEARCH_ID,HEADER_ID,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
0,5fdd5e28-b6cc-47f1-ad18-ccee0ace35ea,0,similarity,2021-12-17 06:38:24.391018,2021-12-17 06:38:24.391018,None,2021-10-29 09:55:23.686979,2021-12-17 06:38:24.391018,bhsle,bhsle,71c2beee-4d83-4587-a4f3-c72751089ac1,20211029_001,5fdd5e28-b6cc-47f1-ad18-ccee0ace35ea,2021-10-29 09:55:23.686979,2021-10-29 09:55:23.686979,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
1,e87b08b9-7773-45a7-bf0c-d359e2c32efd,0,similarity,2021-12-17 06:38:24.397006,2021-12-17 06:38:24.397006,None,2021-10-29 09:56:08.897355,2021-12-17 06:38:24.397006,bhsle,bhsle,26da2208-b0fc-4bbc-9f17-3dd5fd5cefef,20211029_002,e87b08b9-7773-45a7-bf0c-d359e2c32efd,2021-10-29 09:56:08.897355,2021-10-29 09:56:08.897355,postgresql://postgres:admin@10.79.85.55:8432/a...,postgresql://postgres:admin@10.79.85.55:8432/a...
2,38aa9dfe-bf45-43bd-a027-f539c0530135,0,similarity,2021-12-17 06:38:24.401707,2021-12-17 06:38:24.401707,None,2021-11-30 10:52:11.222062,2021-12-17 06:38:24.401707,bhsle,bhsle,2671393b-3d7d-4f4d-922e-5be70f1249d3,20211130_001,38aa9dfe-bf45-43bd-a027-f539c0530135,2021-11-30 10:52:11.222062,2021-11-30 10:52:11.222062,bhsle,bhsle
3,b7082b40-399b-4e42-922e-a38745bdcd1a,0,similarity,2021-12-17 06:40:28.388295,2021-12-17 06:40:28.388295,None,2021-11-30 11:08:23.328531,2021-12-17 06:40:28.388295,bhsle,bhsle,ce3cb264-8833-45e2-9bab-e4e1966a98a1,20211130_001,b7082b40-399b-4e42-922e-a38745bdcd1a,2021-11-30 11:08:23.328531,2021-11-30 11:08:23.328531,bhsle,bhsle
4,68a3f4dd-b8bf-4cbc-80d8-7e988749c316,0,similarity,2021-12-17 06:42:33.388487,2021-12-17 06:42:33.388487,None,2021-11-30 11:28:17.161873,2021-12-17 06:42:33.388487,bhsle,bhsle,ea5f812b-da6a-4964-a875-a9913a606a05,20211130_001,68a3f4dd-b8bf-4cbc-80d8-7e988749c316,2021-11-30 11:28:17.161873,2021-11-30 11:28:17.161873,bhsle,bhsle
5,b1cf00a2-e32d-42d0-8bc2-0253814c0f56,0,clustering,2021-12-17 06:44:37.895607,2021-12-17 06:44:37.895607,None,2021-11-30 11:29:04.123477,2021-12-17 06:44:37.895607,bhsle,bhsle,fde3f83d-9424-4373-9b79-aedbcd528d2f,20211130_001,b1cf00a2-e32d-42d0-8bc2-0253814c0f56,2021-11-30 11:29:04.123477,2021-11-30 11:29:04.123477,bhsle,bhsle
6,7733c860-cbd6-4f9e-af7b-48ec69f393a0,0,similarity,2021-12-17 06:38:24.406595,2021-12-17 06:38:24.406595,None,2021-12-13 16:00:40.215738,2021-12-17 06:38:24.406595,bhsle,bhsle,fadbf620-861d-4d2f-887c-053af5c32dc0,20211213_001,7733c860-cbd6-4f9e-af7b-48ec69f393a0,2021-12-13 16:00:40.215738,2021-12-13 16:00:40.215738,bhsle,bhsle
7,6d7ddc35-8e2c-402a-a35f-f5fedbb1586a,0,similarity,2021-12-17 06:38:24.411422,2021-12-17 06:38:24.411422,None,2021-12-13 16:25:10.450905,2021-12-17 06:38:24.411422,bhsle,bhsle,c0ae35d2-2f51-438c-94c1-d8ceb8652ee9,20211213_002,6d7ddc35-8e2c-402a-a35f-f5fedbb1586a,2021-12-13 16:25:10.450905,2021-12-13 16:25:10.450905,bhsle,bhsle
8,831f847e-5568-4806-bfba-62bd5ee93f32,0,similarity,2021-12-17 06:38:24.416326,2021-12-17 06:38:24.416326,None,2021-12-13 16:27:05.033753,2021-12-17 06:38:24.416326,bhsle,bhsle,6b398e00-a9f7-4a2e-a2dc-36e54a243e95,20211213_003,831f847e-5568-4806-bfba-62bd5ee93f32,2021-12-13 16:27:05.033753,2021-12-13 16:27:05.033753,bhsle,bhsle
9,ea8681ef-a76f-4b6f-af8b-eb14b100e3fe,0,similarity,2021-12-17 06:38:24.421313,2021-12-17 06:38:24.421313,None,2021-12-13 16:41:22.523460,2021-12-17 06:38:24.421313,bhsle,bhsle,8a829e47-30ab-4a93-af25-c8da88e7a16d,20211213_004,ea8681ef-a76f-4b6f-af8b-eb14b100e3fe,2021-12-13 16:41:22.523460,2021-12-13 16:41:22.523460,bhsle,bhsle
10,ad8fab29-f6a3-497a-9ac8-6eb3ec2cbdf9,0,similarity,2021-12-17 06:38:24.426579,2021-12-17 06:38:24.426579,None,2021-12-13 16:46:09.122766,2021-12-17 06:38:24.426579,bhsle,bhsle,2bd717b3-f289-4056-857a-4c40da6dc0e7,20211213_005,ad8fab29-f6a3-497a-9ac8-6eb3ec2cbdf9,2021-12-13 16:46:09.122766,2021-12-13 16:46:09.122766,bhsle,bhsle
11,39d64c11-66b4-4dfa-8dbd-55e03e693f06,0,similarity,2021-12-17 06:38:24.431344,2021-12-17 06:38:24.431344,None,2021-12-13 17:19:52.015620,2021-12-17 06:38:24.431344,bhsle,bhsle,054e63c3-c329-4ae3-8bae-1c47cd9331c5,20211213_006,39d64c11-66b4-4dfa-8dbd-55e03e693f06,2021-12-13 17:19:52.015620,2021-12-13 17:19:52.015620,bhsle,bhsle
12,bd96fbc0-eef0-476c-b5d8-16f64c16f51e,0,clustering,2021-12-17 06:38:24.436092,2021-12-17 06:38:24.436092,None,2021-12-13 17:23:04.539310,2021-12-17 06:38:24.436092,bhsle,bhsle,8a27b164-cc7e-44ac-85f5-b7809f645249,20211213_007,bd96fbc0-eef0-476c-b5d8-16f64c16f51e,2021-12-13 17:23:04.539310,2021-12-13 17:23:04.539310,bhsle,bhsle

In [13]:
joined_tables.shape

(13, 17)

In [3]:
query, msg_header_reference = read_query_from_queue()

In [4]:
msg_header_similarity = msg_header_reference[msg_header_reference['MESSAGE_TYPE'] == 'similarity']

In [5]:
msg_header_similarity.shape

(11, 17)

In [6]:
len(msg_header_similarity)

11

In [7]:
msg_header_clustering = msg_header_reference[msg_header_reference['MESSAGE_TYPE'] == 'clustering']

In [8]:
msg_header_clustering

,ID,PROCESSED,MESSAGE_TYPE,PROCESSING_START,PROCESSING_END,INITIAL_LOAD_FLAG,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER,ID,SEARCH_ID,HEADER_ID,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
5,b1cf00a2-e32d-42d0-8bc2-0253814c0f56,0,clustering,2021-12-17 06:44:37.895607,2021-12-17 06:44:37.895607,None,2021-11-30 11:29:04.123477,2021-12-17 06:44:37.895607,bhsle,bhsle,fde3f83d-9424-4373-9b79-aedbcd528d2f,20211130_001,b1cf00a2-e32d-42d0-8bc2-0253814c0f56,2021-11-30 11:29:04.123477,2021-11-30 11:29:04.123477,bhsle,bhsle
12,bd96fbc0-eef0-476c-b5d8-16f64c16f51e,0,clustering,2021-12-17 06:38:24.436092,2021-12-17 06:38:24.436092,None,2021-12-13 17:23:04.539310,2021-12-17 06:38:24.436092,bhsle,bhsle,8a27b164-cc7e-44ac-85f5-b7809f645249,20211213_007,bd96fbc0-eef0-476c-b5d8-16f64c16f51e,2021-12-13 17:23:04.539310,2021-12-13 17:23:04.539310,bhsle,bhsle

In [9]:
if(len(msg_header_clustering)!=0):
    print('entered')

entered

In [10]:
clustering_query = query[query['SEARCH_ID'].isin(msg_header_clustering['SEARCH_ID'].to_list())]

In [11]:
clustering_query

,ID,SEARCH_ID,REQUEST_ID,CASE_NUMBER,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT_DESCRIPTION,DEFECTIVE_SYSTEM,DEFECTIVE_GROUP,DEFECTIVE_COMPONENT,ADDITIONAL_INFORMATION,SUBCASES_REPORT,FREE_TEXT_FIELD,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
4,1ed57084-3080-4f32-8a3c-a1baf2ea1767,20211130_001,2671393b-3d7d-4f4d-922e-5be70f1249d3,301121,end of november test,you wish,maybe,,,,,,,,2021-11-30 10:52:11.222062,2021-11-30 10:52:11.222062,bhsle,bhsle
5,4f64a5fd-e266-4d21-adc2-d7fd26038f8e,20211130_001,ce3cb264-8833-45e2-9bab-e4e1966a98a1,,,,,,,,,,,Free text example,2021-11-30 11:08:23.328531,2021-11-30 11:08:23.328531,bhsle,bhsle
6,325c4027-efb0-4413-a20d-e636c19e1e34,20211130_001,ea5f812b-da6a-4964-a875-a9913a606a05,301121,end of november test,you wish,maybe,,,,,,,,2021-11-30 11:28:17.161873,2021-11-30 11:28:17.161873,bhsle,bhsle
7,50c30bcd-b7aa-4f2f-b215-a3e7c52869aa,20211130_001,fde3f83d-9424-4373-9b79-aedbcd528d2f,20211130_001,,,,,,,,,,Free text example,2021-11-30 11:29:04.123477,2021-11-30 11:29:04.123477,bhsle,bhsle
14,c1eaa80c-a4d5-4091-9686-9d05e6fadef1,20211213_007,8a27b164-cc7e-44ac-85f5-b7809f645249,13122107,write about broken machines number 7,old valves should be replaced,maybe the lube oil or the controller,,,,,,,,2021-12-13 17:23:04.539310,2021-12-13 17:23:04.539310,bhsle,bhsle

In [12]:
clustering_query[clustering_query['SEARCH_ID'] == '20211130_001']

,ID,SEARCH_ID,REQUEST_ID,CASE_NUMBER,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT_DESCRIPTION,DEFECTIVE_SYSTEM,DEFECTIVE_GROUP,DEFECTIVE_COMPONENT,ADDITIONAL_INFORMATION,SUBCASES_REPORT,FREE_TEXT_FIELD,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
4,1ed57084-3080-4f32-8a3c-a1baf2ea1767,20211130_001,2671393b-3d7d-4f4d-922e-5be70f1249d3,301121,end of november test,you wish,maybe,,,,,,,,2021-11-30 10:52:11.222062,2021-11-30 10:52:11.222062,bhsle,bhsle
5,4f64a5fd-e266-4d21-adc2-d7fd26038f8e,20211130_001,ce3cb264-8833-45e2-9bab-e4e1966a98a1,,,,,,,,,,,Free text example,2021-11-30 11:08:23.328531,2021-11-30 11:08:23.328531,bhsle,bhsle
6,325c4027-efb0-4413-a20d-e636c19e1e34,20211130_001,ea5f812b-da6a-4964-a875-a9913a606a05,301121,end of november test,you wish,maybe,,,,,,,,2021-11-30 11:28:17.161873,2021-11-30 11:28:17.161873,bhsle,bhsle
7,50c30bcd-b7aa-4f2f-b215-a3e7c52869aa,20211130_001,fde3f83d-9424-4373-9b79-aedbcd528d2f,20211130_001,,,,,,,,,,Free text example,2021-11-30 11:29:04.123477,2021-11-30 11:29:04.123477,bhsle,bhsle

#### Code written to manually update values in `MESSAGE_HEADER` table

In [14]:
today_date = datetime.datetime.today()

In [15]:
search_id = '20211130_001'
row_to_update = msg_header_reference[msg_header_reference['SEARCH_ID'] == search_id]

In [16]:
update_id = row_to_update['HEADER_ID'].values[0]
sql_result = engine.execute(f"""UPDATE "AK_BHSLE_MESSAGE_HEADER" SET "PROCESSED" = 1, "PROCESSING_START" = '{today_date}', "PROCESSING_END" = '{today_date}', "UPDATE_DATE" = '{today_date}', "UPDATE_USER" = 'bhsle' where "ID"='{update_id}';""")

In [26]:
msg_df = pd.DataFrame({"ID": [row_to_update['HEADER_ID'].values[0]],
                      "PROCESSED": [1],
                      "MESSAGE_TYPE": [None],
                      "PROCESSING_START": [today_date],
                      "PROCESSING_END": [today_date],
                      "INITIAL_LOAD_FLAG": [None],
                      "CREATION_DATE": [row_to_update['CREATION_DATE'].values[0][0]], 
                      "UPDATE_DATE": [today_date],
                      "CREATION_USER": [row_to_update['CREATION_USER'].values[0][0]],
                      "UPDATE_USER": ['bhsle']})

In [27]:
msg_df

,ID,PROCESSED,MESSAGE_TYPE,PROCESSING_START,PROCESSING_END,INITIAL_LOAD_FLAG,CREATION_DATE,UPDATE_DATE,CREATION_USER,UPDATE_USER
0,e87b08b9-7773-45a7-bf0c-d359e2c32efd,1,None,2021-11-15 11:16:06.423642,2021-11-15 11:16:06.423642,None,2021-10-29 09:56:08.897355,2021-11-15 11:16:06.423642,postgresql://postgres:admin@10.79.85.55:8432/a...,bhsle

In [28]:
engine = create_engine(addresses['DB_ADDRESS'])

In [29]:
delete_id = row_to_update['HEADER_ID'].values[0]

In [58]:
delete_id

'f1352ac7-3b92-4bcf-9246-2f0eb0fea5fc'

In [23]:
# delete_id = 'f1352ac7-3b92-4bcf-9246-2f0eb0fea5fc'

In [60]:
addresses["AK_BHSLE_MESSAGE_HEADER"]

'AK_BHSLE_MESSAGE_HEADER'

In [30]:
sql_result = engine.execute(f"""delete from "AK_BHSLE_MESSAGE_HEADER" where "ID"='{delete_id}'""")

In [32]:
sql_result.close()

In [20]:
# connection = engine.connect()
# connection.execute(f"""delete from "AK_BHSLE_MESSAGE_HEADER" where "ID"={delete_id}""")
# connection.close()

In [33]:
schema_name = 'public'
msg_df.to_sql('AK_BHSLE_MESSAGE_HEADER', con=engine, 
              schema=schema_name, index=False, if_exists='append', method=None)

## Experiment with mySQL to solve PrimaryKey duplication bug (IntegrityError)

In [2]:
sr_df = pd.read_csv('tests/fixtures/miniSRdf.csv').head(20)

In [3]:
modified_df = sr_df.head(5).copy()
modified_df['u_case_requestor'] = 'CHIARA'

In [4]:
new_df = pd.concat([pd.read_csv('tests/fixtures/miniSRdf.csv').tail(5), modified_df])

In [5]:
new_df = new_df.set_index('u_case_number')

In [6]:
sr_df = sr_df.set_index('u_case_number')

In [8]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine("mysql+pymysql://user:password@10.79.85.55:3306/db?charset=utf8mb4", echo=True)

In [29]:
pd.read_sql_table('SR_TABLE', con=engine).shape

In [36]:
sr_df.to_sql('SR_TABLE3', con=engine, index=True, index_label='id', if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '90259175' for key 'SR_TABLE3.PRIMARY'")

In [35]:
new_df.to_sql('SR_TABLE3', con=engine, index=True, index_label='id', if_exists='append')

In [34]:
from sqlalchemy.dialects.mysql import insert

def insert_on_duplicate(table, conn, keys, data_iter):
    insert_stmt = insert(table.table).values(list(data_iter))
    on_duplicate_key_stmt = insert_stmt.on_duplicate_key_update(insert_stmt.inserted)
    conn.execute(on_duplicate_key_stmt)

new_df.to_sql('SR_TABLE3', con=engine, index=True, index_label='id', if_exists='append', chunksize=4096, method=insert_on_duplicate)

## Another type of test with problematic service requests (half empty)

In [15]:
import os

import pandas as pd

from servicerequestslib.vector_similarity import get_list_of_similar_SR, generate_embedding_for_new_SR

input_id = 'test_id_again'
existing_case_number = 90359145

qt = 10
st=0.43

old_df = pd.read_csv('tests/fixtures/miniSRdf.csv')
embeddings = pd.read_csv('tests/fixtures/embeddings_df.csv', index_col='u_case_number')
similar, updated_df, updated_embeddings = get_list_of_similar_SR(embeddings, query_identifier = input_id,
                                                                 sr_id = existing_case_number,
                                                                 similarity_threshold=st,
                                                                 quantity_threshold=qt)

assert type(similar) is pd.Series
assert similar.name == input_id
assert type(updated_embeddings) is pd.DataFrame

assert embeddings.shape[0] == updated_embeddings.shape[0]
assert similar.shape[0] < qt
assert similar.shape[0] > qt/2

In [55]:
from servicerequestslib.preprocessing import preprocessingSR
from servicerequestslib.vector_inference import obtain_embeddings

In [60]:
old_df = pd.read_csv('tests/fixtures/miniSRdf.csv').head(18)
bad_df = pd.read_csv('tests/fixtures/problematic_service_requests.csv')[['CASE_NUMBER', 'PROBLEM_DESCRIPTION',
       'SOLUTION_DESCRIPTION', 'FIRST_REPLY_SOLUTION', 'EXPERT_ASSESSMENT_DESCRIPTION']]

In [47]:
columns_mapper = {'u_case_number': 'CASE_NUMBER', 
                  'u_problem_description': 'PROBLEM_DESCRIPTION',
                  'u_solution_description': 'SOLUTION_DESCRIPTION',
                  'u_expert_assessment_descriptio': 'EXPERT_ASSESSMENT_DESCRIPTION',
                  'u_first_reply_solution': 'FIRST_REPLY_SOLUTION'}

In [48]:
reduced_df = old_df.rename(columns=columns_mapper)[['CASE_NUMBER', 'PROBLEM_DESCRIPTION',
       'SOLUTION_DESCRIPTION', 'FIRST_REPLY_SOLUTION', 'EXPERT_ASSESSMENT_DESCRIPTION']]

In [49]:
sr_df = pd.concat([reduced_df, bad_df]).reset_index().drop('index', axis=1)

In [50]:
assert sr_df.shape[0] == 21

In [59]:
sr_df.tail()

,CASE_NUMBER,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT_DESCRIPTION,CLEAN_expert_assessment_desc,_TEXT_LONG
16,90259131,Missing Pipe slot in bottom profile\r\nThe bot...,To cut a slot on the bottom profile,NaN,To cut a slot on the bottom profile,To cut a slot on the bottom profile,Missing Pipe slot in bottom profile. The botto...
17,90347698,"1. During testing of enclosure lighting, 6 has...",At site it is found that bulbs are blown up du...,NaN,Eng selected bulbs with incorrect rating voltage,Eng selected bulbs with incorrect rating voltage,"1. During testing of enclosure lighting, 6 has..."
18,90303602,NaN,NaN,NaN,NaN,NaN,NaN
19,90322712,NaN,The lighting is excluded from BHGE scope of su...,NaN,The lighting is excluded from BHGE scope of su...,The lighting is excluded from BHGE scope of su...,NaN
20,90339010,NaN,NaN,Stefano with NO information provided on the st...,NaN,NaN,NaN

In [53]:
case_number_string = 'CASE_NUMBER'
columns_dict = {"C_CASE_NUMBER": case_number_string,
                "C_DESCRIPTION": 'PROBLEM_DESCRIPTION',
                "C_SOLUTION": 'SOLUTION_DESCRIPTION',
                "C_EAD": 'EXPERT_ASSESSMENT_DESCRIPTION',
                "C_FR": 'FIRST_REPLY_SOLUTION'}

In [61]:
transformed_df = preprocessingSR(sr_df, **columns_dict)
embeddings_df = obtain_embeddings(transformed_df, case_number=case_number_string)
sr_for_database = pd.concat([sr_df.set_index(columns_dict["C_CASE_NUMBER"]),
                             embeddings_df.apply(lambda r: list(r), axis=1).rename('list_of_vectors')],
                            axis=1).reset_index().reset_index().rename(
    columns={'index': 'ID', 'EXPERT_ASSESSMENT_DESC': 'EXPERT_ASSESSMENT_DESCRIPTION',
             'LAST_UPDATED_DATE': 'UPDATE_DATE'})
sr_for_database['ID'] = sr_for_database[columns_dict["C_CASE_NUMBER"]]
sr_for_database = sr_for_database.set_index('ID')
sr_for_database.dropna(subset=['_TEXT_LONG','list_of_vectors'], inplace=True)
sr_for_database['VECTOR_MODEL'] = [','.join(map(str, l)) for l in sr_for_database['list_of_vectors']]

In [62]:
sr_for_database.shape

(18, 9)

In [63]:
transformed_df.shape

(18, 2)

In [32]:
bad_df.shape

(3, 5)

In [19]:
! pip freeze | grep schedule

schedule==1.1.0

#### Old code written to override the poller function with the same name (`answer_the_query`) in order to mock the answer (`fake_similarity_output`)

In [146]:
from servicerequestslib.vector_similarity import get_list_of_similar_SR

import yaml
with open('sql_addresses.yml', 'r') as stream:
    addresses = yaml.load(stream, Loader=yaml.BaseLoader)
engine = create_engine(addresses['DB_ADDRESS'])
service_requests_db = addresses['AK_BHSLE_SERVICE_REQUEST']
case_num_vectors = pd.read_sql_query(f'SELECT "CASE_NUMBER", "VECTOR_MODEL" FROM "{service_requests_db}"', 
                                     con=engine, index_col='CASE_NUMBER')
vectors = case_num_vectors['VECTOR_MODEL'].apply(lambda x: np.fromstring(x.replace('{', '').replace('}',''), dtype=np.float, sep=','))
embeddings_df = pd.DataFrame(np.vstack(vectors), index=vectors.index)

def answer_the_query(query,
                     embeddings_df: pd.DataFrame, 
                     # query_identifier, 
                     # sr_df: pd.DataFrame = None, 
                     # sr_id: int = None, 
                     # sr_dict: dict = None,
                     similarity_threshold: float = 0.65, 
                     quantity_threshold: int = 50) -> pd.Series:
    """This function takes one query as input and returns the series of similar case numbers.

    Args:
        optional: ??.

    Returns:
        A Series containing the most similar Service Requests found, ordered by similarity.

    """
    
    input_id = query['SEARCH_ID']
    # case_number = query['CASE_NUMBER'] # can't work in this test setting
    existing_case_number = 90359145
    case_number = existing_case_number
    
    # new_sr_dict = {'u_case_number': 12345,
    #                'u_problem_description': new_sr_description,
    #                'u_solution_description': '',
    #                'u_expert_assessment_descriptio': '', 
    #                'u_first_reply_solution': ''}
    
    ## TODO: reactivate the following lines when activating the model part
    # embeddings_df = pd.read_csv('tests/fixtures/embeddings_df.csv', index_col='u_case_number') # DO NOT USE, USE ONLY AS FIXTURE IN CASE CONNECTION TO DB IS NOT POSSIBLE
    similar, updated_df, updated_embeddings = get_list_of_similar_SR(embeddings_df = embeddings_df, 
                                                                     query_identifier = input_id,
                                                                     sr_id = case_number,
                                                                     similarity_threshold=similarity_threshold,
                                                                     quantity_threshold=quantity_threshold)
    
    # fake_similarity_output = pd.Series(data=[0.97, 0.95, 0.93, 0.91, 0.89, 0.87, 0.85, 0.83, 0.81, 0.79], 
    #       index=[90329155, 90364720, 90227676, 90346569, 90277655, 90360437, 90228236, 90373115, 90223978, 90331245],
    #       name = input_id)
    # similar = fake_similarity_output
    
    return similar, case_number