### This notebook was used in January 2022 for the training of the prod version of the model
The results show that the production version is not much more precise then the development version (model used in UAT, namely "sr_similarity_20211116").

That's because the production version was finetuned on around 5500 samples, while dev version was finetuned on 5000 samples.

It is important to note that among the 5k samples used in 2021, there were no examples of free text, while in the additional ~500 there is about half of free text examples. This means that the fine-tuned model loaded in production should be better than the older one with respect to free text to Service Requests comparison.

When the feedback collection in production will have gathered thousands of labeled examples, we expect the models to improve even more.

In [11]:
# !pip install JayDeBeApi
# !pip install -U pytest

In [2]:
# !apt-get update
# !apt-get install -y libpq-dev
# !pip install sqlalchemy psycopg2

# !apt-get update  -y
# !apt-get install postgresql-client  -y
# !apt-get install libpq-dev -y
# !pip install django psycopg2

In [9]:
import sentence_transformers as st

In [10]:
print(st.__version__)

2.1.0

## Start HERE

In [1]:
import pandas as pd
import numpy as np

In [2]:
from servicerequestslib.preprocessing import preprocessingSR
from servicerequestslib.vector_inference import obtain_embeddings
from servicerequestslib.model_fine_tuning import *

/tmp/ipykernel_10599/1555318266.py:3: DtypeWarning: Columns (4,6,7,8,9,12,13,14,15,16,17,18,19,25) have mixed types.Specify dtype option on import or set low_memory=False.
  from servicerequestslib.model_fine_tuning import *

In [3]:
sr_for_database = pd.read_csv('data/dataset_for_finetuning_2022January.csv', index_col='ID')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (4,6,7,8,9,12,13,14,15,16,17,18,19,25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
sr_for_database.shape

(165359, 28)

In [5]:
feedbacks = pd.read_csv('data/UAT_feedbacks_dic2021.csv', sep=None)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [6]:
new_model = model_fine_tuning(feedbacks, sr_for_database)

/workspace/chiara/2012_AK_SR_prod/2012_AK_SR_repository/servicerequestslib/model_fine_tuning.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feedbacks['label'] = feedbacks[feedback_column].map(assess_dictionary)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   tested_case_number  reference  label query_type
0            90391469   90385557    0.9         SR
1            90358492   90385557    0.3         SR
2            90368307   90385557    0.3         SR
3            90250812   90385557    0.9         SR
4            90316555   90385557    0.3         SR
   tested_case_number                                reference  label  \
0            90377892                         contaminated DGS    0.9
1            90416657        we found issues on energized seal    0.9
2            90397122        we found issues on energized seal    0.9
3            90376654  failure for Honeywell ST800 transmitter    0.9
4            90398483  failure for Honeywell ST800 transmitter    0.7

  query_type
0       text
1       text
2       text
3       text
4       text
(5794, 4)
4043
Size of test set: (1159,)
Size of test set w/o nans: (1098, 5)
size of y: (1098,)
R squared: 0.91399
MSE: 0.00501
Pearson correlation: 0.96633
Spearman correlation: 0.79679

Epoch:   0%|          | 0/10 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Size of test set: (1159,)
Size of test set w/o nans: (1098, 5)
size of y: (1098,)
R squared: 0.83975
MSE: 0.00933
Pearson correlation: 0.91965
Spearman correlation: 0.77288

Epoch:   0%|          | 0/10 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Size of test set: (1159,)
Size of test set w/o nans: (1098, 5)
size of y: (1098,)
R squared: 0.76627
MSE: 0.01361
Pearson correlation: 0.87630
Spearman correlation: 0.76877

Epoch:   0%|          | 0/10 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Size of test set: (1159,)
Size of test set w/o nans: (1098, 5)
size of y: (1098,)
R squared: 0.85226
MSE: 0.00860
Pearson correlation: 0.92335
Spearman correlation: 0.77160

Epoch:   0%|          | 0/10 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Iteration:   0%|          | 0/253 [00:00<?, ?it/s]

Size of test set: (1159,)
Size of test set w/o nans: (1098, 5)
size of y: (1098,)
R squared: 0.81505
MSE: 0.01077
Pearson correlation: 0.91105
Spearman correlation: 0.77470
               currently_baseline  \
R squared                0.913995
MSE                      0.005006
Pearson corr             0.966325
Spearman corr            0.796786

               finetuned_distiluse-base-multilingual-cased-v1  \
R squared                                            0.839755
MSE                                                  0.009328
Pearson corr                                         0.919650
Spearman corr                                        0.772882

               finetuned_paraphrase-MiniLM-L3-v2  \
R squared                               0.766270
MSE                                     0.013606
Pearson corr                            0.876297
Spearman corr                           0.768772

               finetuned_paraphrase-albert-small-v2  \
R squared                                  0.852264
MSE                                        0.008600
Pearson corr                               0.923350
Spearman corr                              0.771597

               finetuned_all-MiniLM-L6-v2
R squared                        0.815054
MSE                              0.010766
Pearson corr                     0.911051
Spearman corr                    0.774701
baseline selected!
No need to retrain yet.

## END

## Old data preparation

In [9]:
filename='/data/coq-ncm/allsr/ALL_SR_2014_2020_v20210218.h5'
C_TEXT='_TEXT_FULL'
C_TEXT_LONG = '_TEXT_LONG'
C_ID='u_case_number' # this is used to retrieve the index of the human-labelled clusters

datasetSR = pd.read_hdf(filename)

df = datasetSR.drop(datasetSR[datasetSR['u_fast_containment'] == 'Yes'].index, axis=0)

df_en = df[df['_LANGUAGE'] == 'en']
df_en.shape

(142308, 199)

In [14]:
columns_mapper = {'u_case_number': 'CASE_NUMBER', 
                  'u_problem_description': 'PROBLEM_DESCRIPTION',
                  'u_solution_description': 'SOLUTION_DESCRIPTION',
                  'u_expert_assessment_descriptio': 'EXPERT_ASSESSMENT_DESCRIPTION',
                  'u_first_reply_solution': 'FIRST_REPLY_SOLUTION'}
reduced_df = df_en.rename(columns=columns_mapper)[['CASE_NUMBER', 'PROBLEM_DESCRIPTION',
       'SOLUTION_DESCRIPTION', 'FIRST_REPLY_SOLUTION', 'EXPERT_ASSESSMENT_DESCRIPTION']]

In [15]:
reduced_df.head()

,CASE_NUMBER,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT_DESCRIPTION
0,90200038,red marked up from site,Mark up to update job no and device/wiring tag...,NaN,.
1,90200055,As per LOC items should be only EU or US origi...,NaN,NaN,material shipped
2,90200082,from Technical clarification SR0003032\r\n----...,THE ACTUAL PIPE INSIDE THE OIL TANK IS CORRECT...,NaN,THE ENGINEERING DEPARTMENT MUST MODIFY THE P&...
3,90200087,damage of two wheels.\r\n\r\nPlease forward ...,"The case can be closed, has been open a dedica...",NaN,Please see solution assessment.\r\nRegards.\r\...
4,90200093,IRMA MINERAL OIL SEPARATOR UNABLE TO MAINTAIN ...,It has been established basing on the detail a...,NaN,Technical clarification.

In [3]:
# sr_df = pd.read_csv('tests/fixtures/miniSRdf_SQL.csv', index_col='CASE_NUMBER')
# embeddings_df = pd.read_csv('tests/fixtures/embeddings_SQL.csv', index_col='CASE_NUMBER')

In [11]:
sr_df = pd.read_csv('/data/coq-ncm/allsr/extraction20211229.csv').drop(columns = 'Unnamed: 0')

In [18]:
sr_df.shape

(98188, 23)

In [17]:
sr_df.head(3)

,CASE_NUMBER,CURRENT_TYPEOFISSUE,PROBLEM_DESCRIPTION,SOLUTION_DESCRIPTION,PROVIDE_ADDITIONAL_DETAILS,FIRST_REPLY_SOLUTION,EXPERT_ASSESSMENT,EXPERT_ASSESSMENT_DESC,EHS_IMPACT,POTENTIAL_FLEET_IMPACT,...,DEFECTIVE_SYSTEM_MATE,PROD_SAFETY,DEFECTIVE_SYSTEM_BACK,DEFECTIVE_GROUP_MATE,EXPECTED_DELIV_PROSOLUTION,RCA_POTENTIAL_FLEET_IMPACT,RCA_EHS_IMPACT,RCA_PROD_SAFETY,RCA_PROD_SAFETY.1,WF_ID
0,90337953,FSE Technical Clarification,test ticket for type of issue FSE technical cl...,test please ignore,NaN,testing upgrade please ignore,NaN,NaN,1,NaN,...,NaN,No,NaN,NaN,Upgrade test,NaN,NaN,NaN,NaN,NaN
1,90306797,Technical,during the site assembly of interconnection pi...,Defective system technology is partially fille...,to minimize the impact on custoemr schedule of...,NaN,WRONG PART - SUPPLIER MANUFACTURING MISTAKE,Site not able to install the piping for COCE i...,1,1.0,...,NaN,No,NaN,NaN,I agree to ask our customer for site modificat...,NaN,NaN,NaN,NaN,NaN
2,90300582,Technical,According the line schedule and class RF 150 a...,As per enclosed mail RE SN Service Request 903...,NaN,NaN,WRONG DESIGN/SPECIFICATION/DWG,Case opened to ask the updating of PID SOM675...,1,1.0,...,NaN,No,NaN,NaN,please make mark up,NaN,NaN,NaN,NaN,NaN

In [21]:
full_df = pd.concat([reduced_df.set_index('CASE_NUMBER'), sr_df.set_index('CASE_NUMBER')])

In [22]:
full_df.shape

(240496, 23)

In [23]:
full_df = full_df[~full_df.index.duplicated(keep='first')] # I want to keep the last so I'm doing not(first), hopefully
full_df.shape

(165360, 23)

In [27]:
full_df.reset_index(inplace=True)

In [29]:
sr_df = full_df
sr_df.shape

(165360, 24)

In [30]:
case_number_string = 'CASE_NUMBER'
columns_dict = {"C_CASE_NUMBER": case_number_string,
                "C_DESCRIPTION": 'PROBLEM_DESCRIPTION',
                "C_SOLUTION": 'SOLUTION_DESCRIPTION',
                "C_EAD": 'EXPERT_ASSESSMENT_DESC',
                "C_FR": 'FIRST_REPLY_SOLUTION'}
transformed_df = preprocessingSR(sr_df, **columns_dict)

In [31]:
embeddings_df = obtain_embeddings(transformed_df, case_number=case_number_string)

In [32]:
sr_for_database = pd.concat([sr_df.set_index(columns_dict["C_CASE_NUMBER"]),
                             embeddings_df.apply(lambda r: list(r), axis=1).rename('list_of_vectors')],
                            axis=1).reset_index().reset_index().rename(
    columns={'index': 'ID', 'EXPERT_ASSESSMENT_DESC': 'EXPERT_ASSESSMENT_DESCRIPTION',
             'LAST_UPDATED_DATE': 'UPDATE_DATE'})

In [33]:
sr_for_database['ID'] = sr_for_database[columns_dict["C_CASE_NUMBER"]]
sr_for_database = sr_for_database.set_index('ID')
sr_for_database.dropna(subset=['_TEXT_LONG','list_of_vectors'], inplace=True)
sr_for_database['VECTOR_MODEL'] = [','.join(map(str, l)) for l in sr_for_database['list_of_vectors']]

In [34]:
sr_for_database.index.dtype == 'int64'

True

In [35]:
# sr_for_database.index = sr_for_database.index.map(str)

In [38]:
sr_for_database.to_csv('data/dataset_for_finetuning_2022January.csv')

In [39]:
sr_for_database.shape

(165359, 28)

## Various debugging

In [7]:
new_data = feedbacks
sr_df = sr_for_database

sr_feedbacks = new_data[new_data['Search Key'].apply(lambda x: (len(str(x)) == 8 and str(x).isdigit()))]
text_feedbacks = new_data[new_data['Search Key'].apply(lambda x: not (len(str(x)) == 8 and str(x).isdigit()))]

sr_dataset = sr_data_preparation(sr_feedbacks)
text_dataset = text_data_preparation(text_feedbacks)

sr_dataset['query_type'] = 'SR'
text_dataset['query_type'] = 'text'

/workspace/chiara/2012_AK_SR_prod/2012_AK_SR_repository/servicerequestslib/model_fine_tuning.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feedbacks['label'] = feedbacks[feedback_column].map(assess_dictionary)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
sr_dataset['reference'] = sr_dataset['reference'].astype('int64')

In [9]:
assert sr_dataset['tested_case_number'].dtype == 'int64'
assert sr_dataset['reference'].dtype == 'int64'
assert text_dataset['tested_case_number'].dtype == 'int64'

In [10]:
dataset = pd.concat([sr_dataset, text_dataset])

In [11]:
dataset.tail(300)

,tested_case_number,reference,label,query_type
161,90399347,90374304,0.7,SR
162,90381634,90374304,0.7,SR
163,90412146,90374304,0.7,SR
164,90382263,90374304,0.7,SR
165,90372363,90374304,0.7,SR
...,...,...,...,...
162,90390503,we have found sikaflex cartridges expired,0.7,text
163,90376435,we have found sikaflex cartridges expired,0.7,text
164,90398921,we have found sikaflex cartridges expired,0.7,text
165,90411005,we have found sikaflex cartridges expired,0.7,text
166,90391094,we have found sikaflex cartridges expired,0.7,text

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dataset[['tested_case_number', 'reference', 'query_type']],
                                                    dataset['label'], test_size=0.2, shuffle=True)

In [13]:
X_test[X_test['query_type'] == 'text'].head()

     tested_case_number                                  reference query_type
12             90388384    wrong or defective rotor locking device       text
115            90400696           problems related mechanical seal       text
160            90372505  we have found sikaflex cartridges expired       text
85             90383829                      issues related valves       text
46             90417299                    IGV actuator wrong size       text

In [14]:
X_test[X_test['query_type'] == 'SR']

      tested_case_number reference query_type
1757            90388380  90358292         SR
2404            90386951  90374496         SR
512             90345719  90330616         SR
2870            90283214  90339353         SR
2006            90259115  90333903         SR
...                  ...       ...        ...
2069            90327380  90392437         SR
3442            90229622  90307546         SR
881             90377590  90381045         SR
481             90248141  90330616         SR
5270            90396719  90388156         SR

[1129 rows x 3 columns]

In [17]:
pd.concat([X_test, y_test], axis=1)

      tested_case_number reference query_type  label
1757            90388380  90358292         SR    0.3
2404            90386951  90374496         SR    0.9
512             90345719  90330616         SR    0.3
2870            90283214  90339353         SR    0.3
2006            90259115  90333903         SR    0.3
...                  ...       ...        ...    ...
2069            90327380  90392437         SR    0.3
3442            90229622  90307546         SR    0.3
881             90377590  90381045         SR    0.9
481             90248141  90330616         SR    0.3
5270            90396719  90388156         SR    0.7

[1159 rows x 4 columns]

In [19]:
X_copy = X_test.dropna().copy()

In [16]:
X_test_case_numbers = X_test[X_test['query_type'] == 'SR']
X_test_free_text = X_test[X_test['query_type'] == 'text']

test_case_numbers = list(set(X_test['tested_case_number'].unique()) | set(X_test_case_numbers['reference'].unique()))
test_free_texts = list(set(X_test_free_text['reference'].unique()))

In [17]:
test_case_numbers[:4]

[90353664, 90384390, 90255370, 90402832]

In [101]:
test_free_texts

['missing dowel pins',
 'During the installation of simplex emergency oil filter RF 35792 site found discrepancy between the pressure rating of filter  (ref. SR 90353323)',
 'sikaflex expired',
 'wrong or defective rotor locking device',
 'defective self closing gate ',
 'problems related mechanical seal',
 'As per document SOM6770802  page 10 N2 accumulator  skid refilling valve, pressure gage and complete kit are missing ,As per drawing show that it was suppose to be supply in 1 set per station, but we could not found the ITEM in BOM and PL.. Pls check this ITEM as urgent basis as GE already supply or not, If not then we have to asked to supply complete set of N2 refilling Kit. Case opened because the pre-charging kit of the LUBE OIL ACCUMULATOR SKID - refer to the BHGE P&ID - SOM6770802, sheet 10, tag Z-22-114 - resulted missed in site. Looking into the project BOM and into the specification RA-01901 there is not any mention about the pre-charging kit. Looking also the P&ID - SOM6770802, sheet 10, notes 26, 30 and the orientation for MP162A there is not clarity about the way to supply the mentioned kit For what above reported, the imputation is assigned to ENG.. Looking into the BHGE specification RA-01901 - ACCUMULATOR SPECIFICATION and into the project global BOM I have not found any reference to the CHARGING KIT. Site Team will provide a mark-up to update the following documents: 1 - SOM6770802, sheet 10 -- > modify the position for MP162A in order to include the kit into BHGE scope of supply; 2 - RA-01901, sheet 3 -- > inlcude the kit into the ACCUMULATOR SKID scope of supply. @ OIL & GAS GLOBAL Material SOS COE It is necessary to procure N°1 LUBE OIL ACCUMULATOR CHARGING KIT as indicated into the P&ID - SOM6770802, sheet 10 contacting the Supplier of the ACCUMULATOR SKID: 440096013 - PARKER HANNIFIN ITALY SRL Please to keep in contact with Mrs.Carla Gagliardi (cgagliardi@parker.com) who is just awared about the issue – refer to the enclosed mail "Re  SN Service Request 90336126 - PO 440096013 - RAO01901 - PARKER HANNIFIN ITALY SRL" ',
 'issues related antisurge valves',
 'issues related valves',
 "BH control FSE operated a T31 GS01 30' ball valve with differential pressure higher than allowed",
 'found broken shear pins',
 'seal gas heater logic modification',
 'order  N2  charging kit  for the Accumulators  ',
 'incomplete gas generator dress up',
 'we have found sikaflex cartridges expired']

In [18]:
text_column = '_TEXT_LONG'

In [ ]:
# sentences = sr_for_database.reindex(test_case_numbers[:7]).dropna(subset=[text_column])[text_column].to_list()

In [20]:
retrieved_sentences = sr_for_database.reindex(test_case_numbers).dropna(subset=[text_column])

In [27]:
sentences = retrieved_sentences[text_column].to_list()
sentences_index = retrieved_sentences.index.to_list()
sentences.extend(test_free_texts)
sentences_index.extend(test_free_texts)

sentences_series = pd.Series(sentences, index = sentences_index)

In [28]:
sentences_series

90353664                                     Parts Missing in BoM before the shipment. Afte...
90384390                                     Platform P54 Mario Pinheiro mariodpinheiropetr...
90384400                                     The Bentley Nevada 3500 Rack Alarm Description...
90339353                                     After alignment completion must be require ins...
90382362                                     This SR has to be addressed to Mr Stefano Barb...
                                                                   ...
we have found sikaflex cartridges expired            we have found sikaflex cartridges expired
wrong or defective rotor locking device                wrong or defective rotor locking device
found broken shear pins                                                found broken shear pins
contaminated DGS                                                              contaminated DGS
missing dowel pins                                                          missing dowel pins
Length: 529, dtype: object

In [34]:
sentences_series.index

Index([                                                                                          90353664,
                                                                                                 90384390,
                                                                                                 90384400,
                                                                                                 90339353,
                                                                                                 90382362,
                                                                                                 90335258,
                                                                                                 90361887,
                                                                                                 90337324,
                                                                                                 90351672,
                                                                                                 90366009,
       ...
                                                                                  'issues related valves',
                                                                                'IGV actuator wrong size',
                                                                       'problems related mechanical seal',
                                                                      'we found issues on energized seal',
       'BH control FSE operated a T31 GS01 30' ball valve with differential pressure higher than allowed',
                                                              'we have found sikaflex cartridges expired',
                                                                'wrong or defective rotor locking device',
                                                                                'found broken shear pins',
                                                                                       'contaminated DGS',
                                                                                     'missing dowel pins'],
      dtype='object', length=529)

In [106]:
sentences.extend(test_free_texts)

In [24]:
X_train['query_type'].value_counts()

SR      4509
text     126
Name: query_type, dtype: int64

In [29]:
list(set(X_test['tested_case_number'].unique()) | set(X_test['reference'].unique()))

text
SR
SR
SR
SR
SR
SR
SR
SR
SR

In [31]:
row

tested_case_number    90323600
reference             90384615
query_type                  SR
Name: 947, dtype: object

In [35]:
row['reference']

90384615

In [36]:
text_column = '_TEXT_LONG'
sr_df[text_column].loc['90390087']

'MEWAHOLEO URGENT These are the parts to be procured to work on the Flame Out issue Please proceed procurement on urgent basis 1\\tStaging valves REO059350010 qty 6 2\\tBurner SMO88020 qty 18 3\\tGaskets RAO04649 qty 18 4\\tScrews GFK09031 qty 144 5\\tFitting 38 14 RCR46023 qty 18 6\\tFitting 38 38 RCR46024 qty 18.'

In [30]:
train_examples = []
for index, row in X_train.tail(10).iterrows():
    if row['query_type']=='SR':
        print('type SR')
        try:
            first_sentence = sr_df[text_column].loc[row['reference']]
            second_sentence = sr_df[text_column].loc[row['tested_case_number']]
            sample = InputExample(texts=[first_sentence, second_sentence],
                                  label=float(y_train.loc[index]))
            train_examples.append(sample)
        except:
            pass
    elif row['query_type']=='text':
        print('type text')
        try:
            first_sentence = row['reference']
            second_sentence = sr_df[text_column].loc[row['tested_case_number']]
            sample = InputExample(texts=[first_sentence, second_sentence],
                                  label=float(y_train.loc[index])-0.1)
            train_examples.append(sample)
        except:
            pass

type text
type SR
type SR
type SR
type SR
type SR
type SR
type SR
type SR
type SR

In [9]:
df1 = collect_old_data()
df2 = collect_UAT_data()

In [11]:
df1.shape

(5305, 3)

In [12]:
df2.shape

(28, 3)

In [7]:
df2.tail()

    u_case_number  reference  label
23       90377579   90373663    0.9
24       90411642   90373663    0.3
25       90376027   90373663    0.3
26       90409902   90373663    0.9
27       90410702   90373663    0.3

In [8]:
dataset = pd.concat([df1, df2])
dataset.shape

(5333, 3)

In [14]:
feedbacks = pd.read_excel('data/UAT_feedbacks_dic2021.xlsx')

In [6]:
feedbacks.tail()

       Id Search mode Search Key    Result Y/D/N Comment
474  73.0          SR   90410780  90412053     Y     NaN
475  74.0          SR   90415317  90380786     N     NaN
476  74.0          SR   90415317  90396209     N     NaN
477  74.0          SR   90415317  90390584     N     NaN
478   NaN         NaN   90415317  90395184     N     NaN

In [7]:
feedbacks.shape

(479, 6)

In [12]:
assess_dictionary = {
    'Y': 0.9,
    'N' : 0.3,
    'D': 0.7,
    '?': np.nan
}

In [5]:
feedbacks['Search mode'].value_counts()

SR      295
text    137
Text     46
Name: Search mode, dtype: int64

In [12]:
text_feedbacks = feedbacks[feedbacks['Search mode'] == 'text']
text_feedbacks.head()

,Id,Search mode,Search Key,Result,Y/D/N,Comment
0,1.0,text,contaminated DGS,90377892,Y,NaN
1,2.0,text,we found issues on energized seal,90416657,Y,NaN
2,2.0,text,we found issues on energized seal,90397122,Y,NaN
3,3.0,text,defective energized seal,NO RESULT,N,NaN
15,6.0,text,failure for Honeywell ST800 transmitter,90376654,Y,NaN

In [13]:
import re

In [18]:
# if len(isbn) == 10 and isbn.isdigit():
feedbacks['Search Key'].apply(lambda x: (len(str(x)) == 8 and str(x).isdigit())).value_counts()

True     296
False    183
Name: Search Key, dtype: int64

In [15]:
feedbacks[feedbacks['Search Key'].apply(lambda x: not(len(str(x)) == 8 and str(x).isdigit()))]

,Id,Search mode,Search Key,Result,Y/D/N,Comment
0,1.0,text,contaminated DGS,90377892,Y,NaN
1,2.0,text,we found issues on energized seal,90416657,Y,NaN
2,2.0,text,we found issues on energized seal,90397122,Y,NaN
3,3.0,text,defective energized seal,NO RESULT,N,NaN
15,6.0,text,failure for Honeywell ST800 transmitter,90376654,Y,NaN
...,...,...,...,...,...,...
453,71.0,text,we have found sikaflex cartridges expired,90390503,D,silicone expired
454,71.0,text,we have found sikaflex cartridges expired,90376435,D,Expired preservatio of capital spare parts
455,71.0,text,we have found sikaflex cartridges expired,90398921,D,OPC license is expire
456,71.0,text,we have found sikaflex cartridges expired,90411005,D,AVG AntiVirus Business edition for all GTC uni...
457,71.0,text,we have found sikaflex cartridges expired,90391094,D,Software license expired

In [6]:
SR_feedbacks = feedbacks[feedbacks['Search mode'] == 'SR']

In [7]:
df3 = parse_feedback_data(SR_feedbacks)

/workspace/chiara/2012_AK_SR_prod/2012_AK_SR_repository/servicerequestslib/model_fine_tuning.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feedbacks['label'] = feedbacks[feedback_column].map(assess_dictionary)
/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
df3.shape

(295, 3)

In [9]:
df3.head()

  u_case_number reference  label
0      90372343  90339919    0.3
1      90378244  90339919    0.3
2      90371671  90339919    0.7
3      90411010  90339919    0.3
4      90398771  90339919    0.3

In [10]:
dataset = pd.concat([df1, df2, df3])

In [11]:
dataset.shape

(5628, 3)

In [19]:
metrics.loc['Pearson corr'].idxmax()[10:]

'all-MiniLM-L6-v2'

In [1]:
import datetime
from servicerequestslib import *

In [3]:
model_path = '/akui/bhsle/models/sr_similarity_20211116/model'


today_str = ''.join(str(datetime.datetime.today().date()).split('-'))
# data_to_use = '../data/CIN_data_'+today_str+'.pickle'

# model.save(save_str)

In [7]:
path_prefix = '/'.join(model_path.split('/')[:-2])

In [8]:
save_str = f'{path_prefix}/sr_similarity_{today_str}/model'

In [9]:
save_str

'/akui/bhsle/models/sr_similarity_20220113/model'

In [10]:
'currently_baseline'[10:]

'baseline'